@import "tailwindcss";
@config "../../tailwind.config.js";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@layer base {
  html {
    @apply text-[calc(100vw/375)] md:text-[calc(100vw/768)] pc:text-[1px] 2pc:text-[calc(100vw/1921)];
  }
  body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
    @apply text-14 pc:text-16;
  }
  img,
  video {
    max-width: none;
  }
}

/* ボタン、カード、見出しブロックなどを入れる */
/* @layer components {
} */

@layer utilities {
  .u-mt-40 {
    @apply mt-24 pc:mt-40;
  }
  .u-mt-80 {
    @apply mt-40 pc:mt-80;
  }
  .u-text-10 {
    @apply text-4 pc:text-10;
  }
  .u-text-12 {
    @apply text-6 pc:text-12;
  }
  .u-text-14 {
    @apply text-8 pc:text-14;
  }
  .u-text-16 {
    @apply text-10 pc:text-16;
  }
  .u-text-18 {
    @apply text-12 pc:text-18;
  }
  .u-text-20 {
    @apply text-14 pc:text-20;
  }
  .u-text-22 {
    @apply text-16 pc:text-22;
  }
  .u-text-24 {
    @apply text-18 pc:text-24;
  }
  .u-text-56 {
    @apply text-24 pc:text-56;
  }
  .u-text-64 {
    @apply text-32 pc:text-64;
  }
  /* .mask,
.inside-mask {
  --duration01: 4.5s;
  --duration02: 1.5s;
  mask-image: url(/media/images/bbq/mask-03.webp);
  mask-repeat: no-repeat;
  mask-size: 100% 300%;
  mask-position: 60% -40%;
} */
  .mask,
  .inside-mask {
    -webkit-mask-image: url(/media/images/bbq/mask-03.webp);
    mask-image: url(/media/images/bbq/mask-03.webp);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    will-change:
      clip-path,
      -webkit-mask-position,
      -webkit-mask-size;
  }
  /* 既存の .mask, .inside-mask は今回の方式では不要です（撤去が前提です） */

  /* 通常時は必ず無効 */
  .bg-picture {
    -webkit-mask-image: none;
    mask-image: none;
  }

  /* 遷移中だけ有効 */
  .bg-picture.is-wave {
    -webkit-mask-image: url(/media/images/bbq/mask-03.webp);
    mask-image: url(/media/images/bbq/mask-03.webp);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    will-change:
      clip-path,
      -webkit-mask-position,
      -webkit-mask-size;
  }
}
